

body{
    background-color: rgb(228, 203, 233);
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    overflow-x: hidden;
}


  



